.accountinfo {
    width: 400px;
    padding:10px 20px;
    margin: 40px 100%;
    box-shadow: 0 0 9px 0 lightslategray;
    background-color: white;
}

.accountinfo-ueberschrift {
    padding: 10px 0;
    font-size: 22px;
    font-weight: bold;
    color: var(--headline-font-color);
}

.accountinfo .hinweis {
    background-color: lightgray;
    color: black;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 40px;
    column-gap: 10px;
    margin-bottom: 30px;
}

.accountinfo .hinweis i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--headline-font-color);
    color: white;
}

.infobox {
    margin: 10px 0px 30px 0;
    line-height: 24px;
}

.information {
    display: grid;
    grid-template-columns: 110px 1fr;
    column-gap: 10px;
}

.accountinfo .formbox {
    margin-bottom: 30px;
    border-top: solid thin lightgray;
}

.accountinfo form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.accountinfo form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--headline-font-color);
    color: white;
}

.accountinfo form input[type="password"] {
    width: 310px;
    height: 50px;
    border: 1px thin darkgrey;
    margin-bottom: 20px;
    padding: 0 15px;
}

.accountinfo form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: var(--headline-font-color);
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: background-color 0.2s;
}

.accountinfo form input[type="submit"]:hover {
    background-color: lightgrey;
    color: var(--headline-font-color);
    transition: background-color 0.2s;
}
