:root {
    --headline-font-color: darkslategray;
    --nav-links-font-color: var(--headline-font-color);
    --footer-bg-color: var(--headline-font-color);
    --nonstandard-text-font-color: darkolivegreen;
    --highlight-nav-link-font-color: var(--nonstandard-text-font-color);
}
