.seitenmenue .seitenmenue-trenner {
    border-top: solid thin lightgray;
    margin-top: 30px;
    padding-top: 10px;
}

.inhaltsbereich .aufgabeHaushaltsplan {
    color: black;
    padding: 5px 20px;
}

.inhaltsbereich .aufgabeHaushaltsplan form {
    display: inline-block;
}

.inhaltsbereich .aufgabeHaushaltsplan form input[type="submit"] {
    width: 200px;
    background-color: lightgrey;
    color: var(--headline-font-color);
    padding: 1px 10px;
    cursor: pointer;
    font-size: 16px;
    border-style: solid thin;
    border-color: lightgrey;;
    border-radius: 3px;
    transition: background-color 0.2s;
}

.inhaltsbereich .aufgabeHaushaltsplan form input[type="submit"]:hover {
    background-color: var(--headline-font-color);
    border-color: var(--headline-font-color);
    color: white;
    transition: background-color 0.2s;
}

.istErledigtLabel {
    width: 200px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    padding: 3px 0;
    background-color: var(--headline-font-color);
    border-style: solid thin;
    border-color: var(--headline-font-color);
    border-radius: 3px;
    color: white;
}

.container-haushaltsplan-kalender {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 20px;
    border-top: thin solid lightgray;
    border-bottom: thin solid lightgray;
}

.container-haushaltsplan-kalender .element-haushaltsplan-kalender {
    padding: 10px;
    justify-self: stretch;
    border-right: thin solid lightgray;
    border-left: thin solid lightgray;
}

.container-haushaltsplan-kalender .element-haushaltsplan-kalender .datum {
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: thin solid lightgray;
}

.container-haushaltsplan-kalender .element-haushaltsplan-kalender .aufgaben {
    font-size: 16px;
    background-color: var(--headline-font-color);
    padding: 0 5px 0 5px;
    line-height: 22px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.container-haushaltsplan-kalender .element-haushaltsplan-kalender .aufgabenname {
    padding: 10px 0;
    display: block;
    color: white;
}

.container-haushaltsplan-kalender .element-haushaltsplan-kalender .aufgabenbuttons {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: stretch;
    padding-bottom: 10px;
}

.container-haushaltsplan-kalender .element-haushaltsplan-kalender .aufgabenbuttons form input[type="submit"] {
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-weight: 900;
    min-width: 50px;
    max-width: 60px;
    background-color: white;
    border-radius: 6px;
    color: var(--headline-font-color);
}

.container-haushaltsplan-kalender .element-haushaltsplan-kalender .aufgabenbuttons form input[type="submit"]:hover {
    background-color: var(--headline-font-color);
    color: white;
    transition: background-color 0.2s;
    transition: color 0.2s;
}