.inhaltsbereich .aufgabeHaushaltsplan {
    color: black;
    padding: 5px 20px;
}

.inhaltsbereich .aufgabeHaushaltsplan form {
    display: inline-block;
}

.inhaltsbereich .aufgabeHaushaltsplan form input[type="submit"] {
    width: 200px;
    background-color: lightgrey;
    color: var(--headline-font-color);
    padding: 1px 10px;
    cursor: pointer;
    font-size: 16px;
    border-style: solid thin;
    border-color: lightgrey;;
    border-radius: 3px;
    transition: background-color 0.2s;
}

.inhaltsbereich .aufgabeHaushaltsplan form input[type="submit"]:hover {
    background-color: var(--headline-font-color);
    border-color: var(--headline-font-color);
    color: white;
    transition: background-color 0.2s;
}

.istErledigtLabel {
    width: 200px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    padding: 3px 0;
    background-color: var(--headline-font-color);
    border-style: solid thin;
    border-color: var(--headline-font-color);
    border-radius: 3px;
    color: white;
}

.container-haushaltsplan-kalender {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 20px;
    border-top: thin solid lightgray;
    border-bottom: thin solid lightgray;
}

.container-haushaltsplan-kalender .element-haushaltsplan-kalender {
    padding: 10px;
    justify-self: stretch;
    border-right: thin solid lightgray;
    border-left: thin solid lightgray;
}

.container-haushaltsplan-kalender .element-haushaltsplan-kalender .datum {
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: thin solid lightgray;
}

.container-haushaltsplan-kalender .element-haushaltsplan-kalender .aufgaben {
    font-size: 16px;
}

.container-haushaltsplan-kalender .element-haushaltsplan-kalender .aufgaben ul {
    list-style-type: none;
}

.container-haushaltsplan-kalender .element-haushaltsplan-kalender .aufgaben li {
    padding: 10px 0;
}
