main {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    padding: 0px 20px 0px 20px;
}

.menue-ueberschrift-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.menue-ueberschrift {
    color: var(--headline-font-color);
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    justify-self: start;
}

.menue-button {
    justify-self: end;
    margin-bottom: 10px;
}

.menue-button form input[type="submit"] {
    background-color: var(--headline-font-color);
    color: var(--accent-color);
    padding: 10px;
    min-width: 200px;
    border: solid thin var(--light-accent-color);
    border-radius: 6px;
    text-align: center;
}

.menue-button form input[type="submit"]:hover {
    background-color: var(--light-accent-color);
    color: var(--headline-font-color);
    transition: background-color 0.2s;
    transition: color 0.2s;
    border: solid thin var(--headline-font-color);
}

.seitenmenue {
    border-right: thin solid var(--light-accent-color);
    padding-right: 20px;
}

.seitenmenue a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-bottom: 4px;
}

.seitenmenue a:hover {
    color: var(--headline-font-color);
    text-decoration: underline;
}

.inhaltsbereich {
    margin-bottom: 50px;
}

.inhaltsbereich a {
    text-decoration: none;
}

.aufgabe {
    max-width: 300px;
    min-width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr;
    column-gap: 20px;
    padding: 10px;
}

.aufgabe:hover {
    background-color: var(--light-accent-color);
    border-radius: 8px;
    transition: ease-in 0.2s;
}

.aufgabe .aufgabe-bild {
    align-self: center;
}

.aufgabe .aufgabe-bild img{
    width: 80px;
    display: block;
}

.aufgabe .aufgabe-text {
    color: black;
}

.aufgabe .aufgabe-text .aufgabe-name {
    color: var(--headline-font-color);
    font-weight: bold;
}

.eigenschaft {
    display: grid;
    grid-template-columns: 105px 1fr;
    column-gap: 10px;
}
