nav {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 30px;
    grid-template-rows: 70px;
    box-shadow: 0px 5px 5px lightgray;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 0px 20px 0px 20px;
}

nav .haushaltsplaner {
    font-size: 28px;
    font-weight: bold;
    color: var(--headline-font-color);
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 35px;
    transition: background-color 0.3s, color 0.3s;
    color: var(--nav-links-font-color);
    font-size: 18px;
}

nav a:hover,
nav a.active{
    color: var(--highlight-nav-link-font-color);
    border-radius: 3px;
    background-color: lightgray;
}