.aufgabenbeschreibung {
    width: 600px;
    box-shadow: 0 0 9px 0 lightslategray;
    background-color: white;
    margin: 40px 50%;
}

.aufgbeschr-ueberschrift {
    color: var(--headline-font-color);
    padding: 10px 20px 0 20px;
    font-size: 22px;
    font-weight: bold;
}

.aufgabenbeschreibung .formBeschreibung {
    padding: 10px 20px 0 20px;
    font-size: 18px;
    color: var(--headline-font-color);
}

.aufgabenbeschreibung .eigenschaft {
    display: grid;
    grid-template-columns: 90px 1fr;
    column-gap: 10px;
    padding: 0 20px;
}

.aufgabenbeschreibung form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.aufgabenbeschreibung form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--headline-font-color);
    color: white;
}

.aufgabenbeschreibung form input[type="number"],
.aufgabenbeschreibung form input[type="date"] {
    width: 490px;
    height: 50px;
    border: 1px thin darkgrey;
    margin: 0 20px 10px 0;
    padding: 0 15px;
}

.aufgabenbeschreibung form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin: 0px 20px;
    background-color: var(--headline-font-color);
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: background-color 0.2s;
}

.aufgabenbeschreibung form input[type="submit"]:hover {
    background-color: lightgrey;
    color: var(--headline-font-color);
    transition: background-color 0.2s;
}