@import url("colors.css");

@import url("nav-styles.css");
@import url("header-styles.css");
@import url("footer-styles.css");
@import url("kontakt-styles.css");
@import url("main-styles.css");
@import url("login-styles.css");
@import url("accountinfo-styles.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    min-height: 100%;
    color: black;
}


